
body > .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.content { padding: 10px; }

#Message { display: none; border: none; background: transparent; }
#Question { font-size: 1.2em; }
#Answers { padding-left: 25px; }
#Answers li {
    list-style-position: inside;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
#Answers li:hover, #Answers li.selected { background-color: #F7F7F7; border: 1px solid rgba(0,0,0,0.15); }
#Answers li.selected { background-color: #EEE; font-weight: bold; }
#Answers li.alert-error { border-color: #eed3d7; background-color: #f2dede; }
#Answers li.alert-success { border-color: #d6e9c6; background-color: #dff0d8; }

#Answers li span {
    display: block;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -10px;
}

.btn-toolbar { text-align: right; }