@(title: String)(content: Html)(implicit flash: Flash = null, msgs: utils.Msgs)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/AGKFonts/AGKFonts.css")">

        <meta name="viewport" content="width=600px" />

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" id="dropEmails" data-toggle="dropdown" href="#">
                                Quizz
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropEmails">
                                <li role="presentation">
                                    <a role="menuitem" href="@routes.Quizz.beginQuizz()">Commencer un nouveau quizz</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" href="@routes.Quizz.score()">Terminer le quizz</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            @if(msgs != null) {
                @if(msgs.infos.length > 0) {
                    <div class="alert alert-info">
                    @for(i <- msgs.infos) {
                        <div>@i</div>
                    }
                    </div>
                }

                @if(msgs.errors.length > 0) {
                    <div class="alert alert-error">
                    @for(e <- msgs.errors) {
                        <div>@e</div>
                    }
                    </div>
                }
            }

            <div class="content">
                @content
            </div>
        </div>

        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    </body>
</html>
