@(questionsIDs: String, currentQuestion: Long)(implicit msgs: utils.Msgs)

@import play.libs.Json

@main("Quizz") {

    <h2>Question <span>@(currentQuestion + 1)</span></h2>

    <pre id="Question"></pre>

    <ol id="Answers">

    </ol>

    <button id="ConfirmButton" class="btn btn-success">Confirm</button>

    <script>
        var currentQuestion = @currentQuestion;
        var questionsIDs = new Array(@questionsIDs);
    </script>

    <script src="@routes.Assets.at("javascripts/quizz.js")"></script>
}