
@(questionsIDs: String, currentQuestion: Int, nbPassed: Int, nbCorrect: Int)(implicit msgs: utils.Msgs)

@main("Quizz") {

    <div id="ScoreBar">
        <div id="ScoreCorrect" style="width: @(if(nbPassed > 0) (nbCorrect * 100 / nbPassed) else 0)%;"></div>
        <div id="ScoreFail" style="width: @(if(nbPassed > 0) (100 - (nbCorrect * 100 / nbPassed)) else 0)%;"></div>
    </div>

    <h2>Question <span>@(currentQuestion + 1)</span></h2>

    <div id="Message" class="alert"></div>

    <pre id="Question"></pre>

    <ol id="Answers">

    </ol>

    <div class="btn-toolbar">
        <button id="ConfirmButton" class="btn btn-success btn-large">Confirm</button>
        <button id="NextButton" class="btn btn-large disabled" disabled="disabled">Next</button>
    </div>

    <script>
        var currentQuestion = @currentQuestion;
        var questionsIDs = new Array(@questionsIDs);
        var nbPassed = @nbPassed;
        var nbCorrect = @nbCorrect;
    </script>

    <script src="@routes.Assets.at("javascripts/quizz.js")"></script>
}